@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rajdhani:wght@300&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: auto;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

header{
    background-color: rgb(60, 81, 177);
    padding: 10px;
    margin: 0;
    text-align: center;
    height: ;
}

header h1{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    margin: 25%;
}

:is(h1, h2, h3, p, a){
    color: aliceblue;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logo{
    margin: 1%;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 10px;
}


header nav li{
    border-style: solid;
    border-color: rgb(255, 255, 255, 0);
    border-width: 1px;
    padding: 10px;
    border-radius: 99px;
    transition: .5s;
}

header nav li:hover{
    border-style: solid;
    border-color: rgb(255, 255, 255, 1);
    border-width: 1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


/*Porfolio*/


#home__portfolio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: rgb(148, 174, 212);
    padding-bottom: 20%;
    padding-top: 10%;
}

#home__portfolio h2{
    font-size: 4rem;
}

.carrousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.home__work_sides {
    background-color: rgb(32, 74, 212);
    background-image: url(/images/ab817f161830163.63cb810c22ead.jpg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position-x: 50%;
    background-position-y: 64%;
    padding: 10px;
    margin: 0;
    text-align: center;
    width: 200px;
    height: 400px;
    border-radius: 10px;
}

.home__work_sides img{
    width: 200px;
    height: 200px;
}

.home__work_sides h3{
    color: white;
    font-size: 20px;
}

.home__work_center {
    background-color: rgb(92, 94, 240);
    background-image: url(/images/4139e280592771.5ce5873dc3d84.png);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position-x: 48%;
    background-position-y: 45%;
    padding: 10px;
    margin: 0;
    text-align: center;
    width: 914px;
    height: 700px;
    border-radius: 10px;
    
}


.home__work_center_animation{
    animation: works-to-center 1s forwards;
}

.home__work_sides_animation{
    animation: center-to-left 1s forwards;
}


.home__work_center img{
    width: 200px;
    height: 200px;
}

.home__work_center h3{
    color: white;
    font-size: 3rem;
    position: relative;
    top: 65%;
}

.previous, .next{
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 10px;
    height: 200px;
    width: 50px;
}

.previous:hover, .next:hover{
    background-color: rgb(32, 131, 212);
}

@keyframes works-to-center {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-109%);
        width: 200px;
        height: 400px;
    }
}

@keyframes center-to-left {
    0%{
        transform: translateX(-109%);
    }
    100%{
        transform: translateX(0%);
        width: 914px;
        height: 700px;
    }
}

/*About*/

#about{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
    background-color: rgb(52 102 177);
    height: auto;
    padding: 50px;
}

.about_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    background-color: rgb(44, 167, 204);
    height: auto;
    width: 50%;
    border-radius: 50px;
    margin: 18%;
}

.about_img{
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;

}

.about_img img{
    width: 32vh;
    height: 50vh;
    border-radius: 50px;
}

.about_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50;
    padding: 2rem;
    box-sizing: border-box;
}

.about_text h2{
    color: white;
    font-size: 4rem;
}

.about_text p{
    color: white;
    font-size: 1.5rem;
}

.about_text button{
    height: 100px;
    width: 200px;
    border-radius: 20px;
    font-size: 2rem;
}


footer{
    background-color: rgb(37, 92, 175);
    padding: 10px;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    height: auto;
    width: 50%;
    border-radius: 50px;
}