@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rajdhani:wght@300&family=categorie+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: auto;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: rgb(60, 81, 177);
}

header{
    
    padding: 10px;
    margin: 0;
    text-align: center;
    position: relative;
}

header svg{
    position: relative;
    transition: 1s;
}



header h1{
    color: rgb(255, 255, 255);
    font-size: 9rem;
    margin: 14% 0 21% 0%;
    text-align: initial;
}


#first_span{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: rgba(89, 119, 252, 0.822);
    position: fixed;
    top: 25%;
    left: 37%;
    z-index: 0;
    transition: 1s;
    /* animation: turn_to_shrink_animation linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s);  */

    /* animation: turn_to_shrink_animation 1s linear forwards; */
    /* animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s); */
    
}

#second_span{
    width: 500px;
    height: 500px;
    border-radius: 0%;
    background-color: rgba(184, 224, 209, 0.726);
    position: fixed;
    top: 25%;
    left: 37%;
    z-index: 0;
    /* transition: 1s;
    transform: scale(1); */
    /* animation: turn_to_shrink_animation 1s linear reverse; */
    /* animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s); */
}

#third_span{
    width: 500px;
    height: 500px;
    border-radius: 20%;
    background-color: rgba(198, 9, 236, 0.39);
    position: fixed;
    top: 25%;
    left: 37%;
    z-index: 0;
    /* transition: .01s;
    transform: scale(1); */
    /* animation: turn_to_shrink_animation 1s linear forwards; */
    /* animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s); */
}

@keyframes turn_to_shrink_animation { 
    0% {
        transform: scale(1);
    } 
    10%{
        transform: scale(0.1);
    }
    100% {
        transform: scale(0.01);
    } 
} 

@keyframes view_carrousel {
    0% {    
        transform: scale(0);  
        opacity: 0;
    }
    25% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.blue_circle{
    transform: scale(0.1);
    /* animation: turn_to_shrink_animation linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -3s);  */
}

.yellow_circle{
    transform: scale(0.1);
    animation: turn_to_shrink_animation linear;
}

.green_circle{
    transform: scale(0.1);
    animation: turn_to_shrink_animation 1s forwards;
}

.color_changer{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: rgba(137, 152, 219, 0.281);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    background-color: rgba(157, 236, 168, 0.507);
}

.color_changer_v2{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: rgba(137, 152, 219, 0.281);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    background-color: rgba(185, 0, 241, 0.757);
}

.content_zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

:is(h1, h2, h3, p, a){
    color: aliceblue;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logo{
    margin: 1%;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 10px;
}


header nav li{
    border-style: solid;
    border-color: rgb(255, 255, 255, 0);
    border-width: 1px;
    padding: 10px;
    border-radius: 99px;
    transition: .5s;
}

header nav li:hover{
    border-style: solid;
    border-color: rgb(255, 255, 255, 1);
    border-width: 1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


/*Porfolio*/


#home__portfolio{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: rgb(148, 174, 212);
    padding-bottom: 20%;

}

#home__portfolio h2{
    font-size: 4rem;
}



.carrousel{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
    transform: scale(0);  
}

.categories {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
    overflow: auto;
    width: 1050px;

    &::-webkit-scrollbar {
        display: none;
    }

    div{
        flex-shrink: 0;
        /* animation: big_middle 2s linear forwards;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll-categories) * -2s); */
    }

    
}

@keyframes big_middle {
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.5);
    }
    
}



.home__categorie_sides {
    background-color: rgb(32, 74, 212);
    background-image: url(/images/ab817f161830163.63cb810c22ead.jpg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position-x: 50%;
    background-position-y: 64%;
    padding: 10px;
    margin: 0;
    text-align: center;
    width: 200px;
    height: 400px;
    border-radius: 10px;

    h3{
        color: rgb(255, 255, 255);
        font-size: 1rem;
        position: relative;
        top: 0%;
        animation: categorie-title-down 1s forwards;
    }
    
}

.home__categorie_sides img{
    width: 200px;
    height: 200px;
}


.home__categorie_center {
    background-color: rgb(92, 94, 240);
    background-image: url(/images/4139e280592771.5ce5873dc3d84.png);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position-x: 48%;
    background-position-y: 45%;
    padding: 10px;
    margin: 0;
    text-align: center;
    width: 914px;
    height: 700px;
    border-radius: 10px;

    h3{
        color: white;
        font-size: 3rem;
        position: relative;
        top: 65%;
        
    }
    
}


.home__categorie_center_animation{
    animation: categories-to-center 1s forwards;
}

.home__categorie_sides_animation{
    animation: center-to-left 1s forwards;
}


.home__categorie_center img{
    width: 200px;
    height: 200px;
}

.home__categorie_center h3{
    color: white;
    font-size: 3rem;
    position: relative;
    top: 65%;
}

.previous, .next{
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 10px;
    height: 200px;
    width: 50px;
}

.previous:hover, .next:hover{
    background-color: rgb(32, 131, 212);
}


@keyframes categories-to-center {
    0%{
        transform: translateX(0%);
    }
    99%{
        transform: translateX(-110%);
        width: 200px;
        height: 400px;
    }
    100%{
        transform: translateX(0%);
        width: 200px;
        height: 400px;
    }
}

@keyframes categorie-title-down {
    0%{
        color: rgb(255, 255, 255);
        font-size: 1rem;
        position: relative;
        top: 0%;
    }
    100%{
        color: rgb(126, 57, 57);
        font-size: 3rem;
        position: relative;
        top: 65%;
    }
}
@keyframes center-to-left {
    0%{
        transform: translateX(0%);
    }
    99%{
        transform: translateX(-26%);
        width: 914px;
        height: 700px;
    }
    100%{
        transform: translateX(0%);
        width: 914px;
        height: 700px;
    }
}

/*About*/

#about{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
    height: auto;
}

.about_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    background-color: rgb(44, 167, 204);
    height: auto;
    width: 50%;
    border-radius: 50px;
    margin: 12% 0%;

    .about_img{
        height: 100%;
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
    
    }
    
    .about_img img{
        width: 32vh;
        height: 50vh;
        border-radius: 50px;
    }
    
    .about_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 50;
        padding: 2rem;
        box-sizing: border-box;
    }
    
    .about_text h2{
        color: white;
        font-size: 4rem;
    }
    
    .about_text p{
        color: white;
        font-size: 1.5rem;
    }
    
    .about_text button{
        height: 100px;
        width: 200px;
        border-radius: 20px;
        font-size: 2rem;
    }
    
}





footer{
    background-color: rgb(37, 92, 175);
    padding: 10px;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    height: auto;
    width: 50%;
    border-radius: 50px;
}


/*
About page
**/

#about_page_section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
    height: auto;
    margin: 0 12dvh;
}

.about_page_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    height: auto;
}

.about_me_container{
    display: flex;
    flex-direction: row;
    align-items: start;
    
    gap: 18px;
    height: auto;
    width: 100%;
    margin: 12% 0%;

    .about_img{
        height: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        margin-left: 7dvw;
    }
    
    .about_img img{
        width: 49dvh;
        height: 72dvh;
        border-radius: 50px;
    }
    
    .about_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 50;
        padding: 2rem;
        box-sizing: border-box;
    }
    
    .about_text h2{
        color: white;
        font-size: 4rem;
    }
    
    .about_text p{
        color: white;
        font-size: 1.5rem;
    }
    
    .about_text button{
        height: 100px;
        width: 200px;
        border-radius: 20px;
        font-size: 2rem;
    }
    
}

.education__container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 18px;
    height: auto;
    width: 100%;
    margin: 12% 0%;

    :is( h3, p){
        margin: .5dvh;
        padding: 0;
        color: white;
    }

    h2{
        font-size: 4rem;
        margin: 0;
    }

    p{
        font-size: 1.5rem;
    }

    h3{
        font-size: 2rem;
    }

}


.experience__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    height: auto;
    width: 100%;
    margin: 12% 0%;

    h2{
        font-size: 4rem;
    }
    .experience{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        .experience_duration{
            text-align: center;
        }
        .experience_info{
            margin-left: 10px;
        }
    }
}

.skills__container{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    gap: 18px;
    height: auto;
    width: 100%;
    margin: 12% 0%;

    h2{
        font-size: 6rem;   
        writing-mode:sideways-lr;
    }

    .skill_row{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        height: auto;
        width: 180%;
        margin: 12% 0%;
        .skill{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            width: 100%;
            margin: 12% 0%;

            h4{
                font-size: 3rem;
                text-align: center;
            }

            p{
                margin: 0;
            }

            ul{
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 18px;
                height: auto;
                width: 100%;
                margin: 0;
                padding: 0;
            }

            li{
                list-style: none;
                width: 100%;
            }

            .progress_bar{
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 10px;
                width: 100%;
                background-color: rgba(240, 248, 255, 0.192);
                border-radius: 20px;
                margin: 2% 0%;
                .progress{
                    height: 100%;
                    width: 50%;
                    background-color: rgb(255, 255, 255);
                    border-radius: 20px;
                }
            }
        }
    }
}

.languages__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    height: auto;
    width: 100%;
    h2{
        font-size: 4rem;
    }

    h4{
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
    }

    .languages{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 10px; 
        grid-template-areas: 
          "french english"
          "spanish spanish"; 
        height: 50dvh;
        width: 60dvh;

    }

    :is(.french, .english, .spanish) {
        border-radius: 20px;
    }

    .french { 
        grid-area: french; 
        color: aliceblue;
        background-color: blue;
        .french_info{
            position: relative;
            z-index: 1;
            text-align: center;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p{
                margin: 0;
            }
        }
    }
    .english { 
        grid-area: english;
        color: rgb(255, 0, 0);
        background-color: white; 
        .english_info{
            position: relative;
            z-index: 1;
            text-align: center;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p{
                color: rgb(255, 0, 0);
                margin: 0;
            }
        }
    }
    .spanish {
        grid-area: spanish;
        color: rgb(255, 255, 255);
        background-color: rgba(255, 3, 3, 0.288);
        width: 100%;
        ;
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */

        .spanish_info{
            position: relative;
            z-index: 1;
            text-align: center;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p{
                margin: 0;
            }
        }



        .language_progress_bar{
            width: 15%;
            height: 100%;
            position: relative;
            top: -100%;
            background-color: rgb(255, 0, 0);
            border-radius: 20px;
            
        }
    }

}

.soft_skills__container{
    position: relative;
    gap: 18px;
    height: 100dvh;
    width: 100%;
    background-color: rgba(137, 152, 219, 0.281);
    h2{
        font-size: 4rem;
        position: absolute;
        top: 45%;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .soft_skills_list{
        position: relative;
        /* top: 25%; */
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        transition: 1s;
        transform: translate(0, 0);
        /* left: 50%; */
        background-color: rgba(78, 139, 136, 0.521);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .soft_skill{
            position: absolute;
            transform-origin: center;
            list-style: none;
            left: 48%;
            top: 50%;
        }
        .soft_skill p{
            margin: 0;
            text-align: center;
        }
        .soft_skill:nth-child(1){
            transform: translate(0, -25dvh);
            p{
                color: rgb(104, 213, 221);
            }
        }
        .soft_skill:nth-child(2){
            transform: translate(25dvh, -10dvh);
            p{
                color: rgb(104, 213, 221);
            }
        }
        .soft_skill:nth-child(3){
            transform: translate(12dvh, 15dvh);
            p{
                color: rgb(104, 213, 221);
            }
        }
        .soft_skill:nth-child(4){
            transform: translate(-25dvh, -10dvh);
            p{
                color: rgb(104, 213, 221);
            }
        }
        .soft_skill:nth-child(5){
            transform: translate(-12dvh, 15dvh);
            p{
                color: rgb(104, 213, 221);
            }
        }
    }

}

.interest__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    height: 100dvh;
    width: 100%;
    background-color: rgba(137, 152, 219, 0.281);
    h2{
        font-size: 4rem;
    }
    p{
        font-size: 2rem;
    }
}