$animation_curve: ease-in;
$animation_speed: .7s;


@keyframes big_middle {
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.5);
    }
    
}






.left-to-right_animation{
    animation: left-to-right $animation_speed reverse $animation_curve;
}


@keyframes left-to-right {
    0%{
        transform: translateX(-320%) translateY(-50%);
    }
    100%{
        transform: translateX(220%) translateY(-50%);
    }
}

.right-to-left_animation{
    animation: right-to-left $animation_speed reverse $animation_curve;
}

@keyframes right-to-left{
    0%{
        transform: translateX(220%) translateY(-50%);
        width: 200px;
        height: 400px;
    }
    100%{
        transform: translateX(-320%) translateY(-50%);
        width: 200px;
        height: 400px;
    }
}


.left-to-center_animation{
    animation: left-to-center $animation_speed reverse $animation_curve;
}


@keyframes left-to-center {
    0%{
        transform: translateX(-320%) translateY(-50%);
        width: 200px;
        height: 400px;
        z-index: 2;
    }
    100%{
        transform: translateX(-50%) translateY(-50%);
        width: 914px;
        height: 700px;
        z-index: 2;
    }
}

.center-to-right_animation{
    animation: center-to-right $animation_speed reverse $animation_curve;
}

@keyframes center-to-right {
    0%{
        transform: translateX(-50%) translateY(-50%);
        width: 914px;
        height: 700px;
        z-index: 2;
    }
    100%{
        transform: translateX(220%) translateY(-50%);
        width: 200px;
        height: 400px;
        z-index: 2;
    }
}

.right-to-center_animation{
    animation: right-to-center $animation_speed reverse $animation_curve;
}

@keyframes right-to-center {
    0%{
        transform: translateX(220%) translateY(-50%);
        width: 200px;
        height: 400px;
        z-index: 2;
    }
    100%{
        transform: translateX(-50%) translateY(-50%);
        width: 914px;
        height: 700px;
        z-index: 2;
    }
}

.center-to-left_animation{
    animation: center-to-left $animation_speed reverse $animation_curve;
}

// @keyframes center-to-left {
//     0%{
//         transform: translateX(50%) translateY(-50%);
//         width: 914px;
//         height: 700px;
//         z-index: 2;
//     }
//     100%{
//         transform: translateX(-320%) translateY(-50%);
//         width: 200px;
//         height: 400px;
//         z-index: 2;
//     }
// }



.home__categorie_sides_animation{
    animation: center-to-left $animation_speed reverse $animation_curve;
}

@keyframes categories-to-center {
    0%{
        transform: translateX(0%);
    }
    99%{
        transform: translateX(-110%);
        width: 200px;
        height: 400px;
    }
    100%{
        transform: translateX(0%);
        width: 200px;
        height: 400px;
    }
}





.home__categorie_center img{
    width: 200px;
    height: 200px;
}

.home__categorie_center h3{
    color: white;
    font-size: 3rem;
    position: relative;
    top: 65%;
}

.previous, .next{
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 10px;
    height: 200px;
    width: 50px;
}

.previous:hover, .next:hover{
    background-color: rgb(32, 131, 212);
}




@keyframes categorie-title-down {
    0%{
        color: rgb(255, 255, 255);
        font-size: 1rem;
        position: relative;
        top: 0%;
    }
    100%{
        color: rgb(126, 57, 57);
        font-size: 3rem;
        position: relative;
        top: 65%;
    }
}
@keyframes center-to-left {
    0%{
        transform: translateX(-50%) translateY(-50%);
        width: 914px;
        height: 700px;
        z-index: 2;
    }
    100%{
        transform: translateX(-320%) translateY(-50%);
        width: 200px;
        height: 400px;
        z-index: 2;
    }
}




// animation scroll based



@keyframes carrourel_appeares {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.carrousel_animation{
    
    animation: carrourel_appeares .5s linear;

    
}

@keyframes carrousel_skrinks_goes_down {
    0%{
        transform: translateY(0);
        transform: scale(1);
    }
    100%{
        transform: translateY(-100%);
        transform: scale(0.1);
    }
    
}

.carrousel_animation_goes_down{
    animation: carrousel_skrinks_goes_down .5s linear;
}




